.hourly-container{
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    padding: 1.5rem;
    color: gray;
    h3{
        color: gray;
    }
}
.icon{
   width: 60px; 
   padding: 10px;
}